body {
  text-align: center;
  background: #16A085;
  background: -webkit-linear-gradient(to right, #F4D03F, #16A085);
  background: linear-gradient(to right, #F4D03F, #16A085); 

}

img {
  display: inline-block;
  max-width: 20%;
}
